<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Git Noodle</title>

    <link rel="stylesheet" href="css/bootstrap/neon-glow/css/bootstrap4-neon-glow.min.css" />
    <link rel="stylesheet" href="css/modal.css" />
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
        
                <div class="modal-header">
                    <slot name="header">
                    </slot>
                </div>
        
                <div class="modal-body">
                    <slot name="body">
                    </slot>
                </div>
        
                <div class="modal-footer">
                    <slot name="footer">
                    </slot>
                </div>
                </div>
            </div>
            </div>
        </transition>
    </script>
    <div id="app">
        <div id="left">
            <fieldset>
                <div @contextmenu.prevent="$refs.leftCtx.open($event, { id: 'leftCtxMenu' });">
                    <legend>Repositories</legend>
                    <button id="addRepoButton" class="btn btn-success btn-shadow px-3 my-2 ml-0 text-left" @click="addRepo();">Add</button>
                    <button class="btn btn-success btn-shadow px-3 my-2 ml-0 text-left" id="show-modal" @click="showCloneRepoModal = true">Clone</button>
                </div>
                <div class="repo" v-for="repo in repos" :path="repo.path" @contextmenu.prevent="$refs.repoCtx.open($event, { id: 'repoCtxMenu', repo: repo });">{{ repo.name }}</div>
            </fieldset>
        </div>
        <div id="right">
            
        </div>

        <context-menu id="repoCtxMenu" ref="repoCtx" @ctx-open="onRepoCtxOpen">
            <li id="repoCtxRemove" class="ctx-item" @click="removeRepo($refs.repoCtx.locals.repo);">Remove</li>
            <li id="repoCtxDelete" class="ctx-item" @click="repoToDelete = $refs.repoCtx.locals.repo">Delete</li>
        </context-menu>

        <context-menu id="leftCtxMenu" ref="leftCtx" @ctx-open="onLeftCtxOpen">
            <li class="ctx-item" @click="addRepo();">Add</li>
            <li class="ctx-item" @click="showCloneRepoModal = true">Clone</li>
        </context-menu>

        <modal v-if="showCloneRepoModal" @close="showCloneRepoModal = false">
            <h3 slot="header">Clone Repo</h3>
            <div style="width: 100%" slot="body">
                <clone-form v-on:clone-done="showCloneRepoModal = false" >
            </div>
        </modal>

        <modal v-if="repoToDelete != null" @close="repoToDelete = null">
            <h3 slot="header">Delete Repository</h3>

            <div style="width: 100%;" slot="body">
                <span style="color: red;">WARNING: </span>This change is irreversible. This will delete the entire repository from your computer.
            </div>

            <div style="width: 100%;" slot="footer">
                <button id="deleteRepoNo" style="float: right;" class="btn btn-danger btn-shadow px-3 my-2 ml-0 text-left" @click="repoToDelete = null">No</button>
                <button id="deleteRepoYes" style="float: left;" class="modal-default-button btn btn-success btn-shadow  px-3 my-2 ml-0 text-left" @click="deleteRepo();">Yes</button>
            </div>
        </modal>
    </div>
    
    <script src="app.js"></script>
</body>

</html>